<a href="/">Назад</a>

<section class="egr--ngb">
	<table class="table-header">
		<tr>
			<td class="regNumber">Рег. номер</td>
			<td class="name">Наименование юридического лица/Ф.И.О. индивидуального предпринимателя</td>
			<td class="regAuthority">Регистрирующий орган</td>
			<td class="reqDate">Дата регистрации</td>
			<td class="state">Состояние</td>
			<td class="expDate">Дата исключения</td>
		</tr>
	</table>

	{{#results}}
		<div class="result">
			<div class="req-name">{{name}}</div>
			{{^data}}
			<div class="not-found">Не найдено</div>
			{{/data}}
			{{#data}}
			<table>
			{{/data}}
			{{#data}}
				<tr class="{{#expired}}expired{{/expired}} {{#valid}}valid{{/valid}} ">
					<td class="regNumber">{{regNumber}}</td>
					<td class="name">{{name}}</td>
					<td class="regAuthority">{{regAuthority}}</td>
					<td class="reqDate">{{reqDate}}</td>
					<td class="state">{{state}}</td>
					<td class="expDate">{{expDate}}</td>
				</tr>
			{{/data}}
			{{#data}}
			</table>
			{{/data}}
		</div>
	{{/results}}
</section>
